<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新型冠状病毒实时省市地图</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="map.css">
    <script src="https://lib.baomitu.com/vue/2.6.10/vue.min.js"></script>
    <script src="https://lib.baomitu.com/axios/0.19.2/axios.min.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?99ec4665b77821b87d78fbb726071aff";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<div id="app">
    <header><h1><small>新型冠状病毒<br>疫情实时动态 · 省市地图</small></h1></header>
    <div class="card"><h2>统计{{province?'·'+provinceNameZh:''}} <span class="due" v-if="!province">截止时间: <span id="modifyTime">{{modifyTime}}</span></span></h2>
        <div>
            <div class="row">
                <div class="tag">
                    <div class="number">{{confirmedCount}}</div>
                    确诊
                </div>
                <div class="tag">
                    <div class="number" style="color:orange">{{suspectedCount}}</div>
                    疑似
                </div>
                <div class="tag">
                    <div class="number" style="color:#1e1e1e">{{deadCount}}</div>
                    死亡
                </div>
                <div class="tag">
                    <div class="number" style="color:deepskyblue">{{curedCount}}</div>
                    治愈
                </div>
            </div>
        </div>
    </div>
    <div class="card"><h2>疫情地图{{province?'·'+provinceNameZh:''}} <small @click="returnChina" v-if="province" style="color: rgb(255, 102, 0); position: absolute; right: 0px; top: 50%; transform: translateY(-50%);">返回全国</small></h2>
        <div id="main" style="height: 300px;-webkit-tap-highlight-color: transparent;user-select: none;">

        </div>
        <div class="tip" style="">在地图中点击省份可跳转到相应省份的疫情地图，并查看该省相关的实时动态</div>
        <div class="province header">
            <div class="area">地区</div>
            <div class="confirmed">确诊</div>
            <div class="death">死亡</div>
            <div class="cured">治愈</div>
        </div>
        <div class="province" v-for="provinces in mapData" @click="changeProvince(provinces.name)">
            <div :class="['area',!province?'active':'']">{{provinces.name}}</div>
            <div class="confirmed">{{provinces.confirmedCount}}</div>
            <div class="death">{{provinces.deadCount}}</div>
            <div class="cured">{{provinces.curedCount}}</div>
        </div>
    </div>
    <div class="card info"><h2>信息汇总</h2>
        <li><a href="https://m.yangshipin.cn/static/2020/c0126.html">疫情24小时 | 雷神山医院直播</a></li>
        <li><a href="https://2020-ncov.yuyisoft.net/trip">确诊患者同行查询工具</a></li>
        <li><a href="https://news.qq.com/zt2020/page/feiyan.htm">腾讯新闻新冠疫情实时动态</a></li>
        <li><a href="https://3g.dxy.cn/newh5/view/pneumonia">丁香园新冠疫情实时动态</a></li>
        <li><a href="https://vp.fact.qq.com/home">新型冠状病毒实时辟谣</a></li>
        <li><a href="https://promo.guahao.com/topic/pneumonia">微医抗击疫情实时救助</a></li>
    </div>
    <div class="feedlback"><div>代码仓库: <a href="https://github.com/chenguojun/2019-ncov">chenguojun/2019-ncov</a></div></div>
</div>
</body>
<script src="https://lib.baomitu.com/echarts/4.6.0/echarts.min.js"></script>
<script src="map/js/china.js"></script>
<script>
    var vm = new Vue({
        el:"#app",
        data:{
            confirmedCount: 0,
            suspectedCount: 0,
            curedCount: 0,
            deadCount: 0,
            modifyTime: '2020-01-01 01:01:01',
            mapData: [],
            province: false,
            provinceNameZh: ""
        },
        mounted: function () {
            this.getData();
        },
        methods: {
            getData: function (province) {
                var that = this
                axios.get("https://2020-ncov.yuyisoft.net/getData.php",{params: {province: province}}).then(function (res) {
                    that.confirmedCount = res.data.confirmedCount
                    that.suspectedCount = res.data.suspectedCount
                    that.curedCount = res.data.curedCount
                    that.deadCount = res.data.deadCount
                    that.modifyTime = res.data.modifyTime
                    that.mapData = res.data.mapData
                    if(province){
                        const s = document.createElement('script');
                        s.type = 'text/javascript';
                        s.src = 'map/js/province/' + res.data.provinceName + ".js";
                        document.body.appendChild(s);
                        s.onload = function() {
                            setChart(res.data.mapData);
                        }
                    }else{
                        setChart(res.data.mapData);
                    }
                }).catch((res) => {  //失败的回调
                    alert("获取数据失败，请刷新页面");
                })
            },
            returnChina:function () {
                this.province = false;
                this.getData();
            },
            changeProvince: function (provinceName) {
                if(this.province) return;
                this.province = true;
                this.provinceNameZh = provinceName;
                this.getData(provinceName)
            }
        }
    });
    var myChart = echarts.init(document.getElementById('main'));
    myChart.on('click', function (params) {
        if(!vm.province) vm.changeProvince(params.name)
    });

    function setChart(data) {
        var options = {
            visualMap: {
                show: true,
                type: 'piecewise',
                min: 0,
                max: 2000,
                align: 'right',
                top: vm.province ? 0 : '40%',
                right: 0,
                left: vm.province ? 0 : 'auto',
                inRange: {
                    color: [
                        '#ffc0b1',
                        '#ff8c71',
                        '#ef1717',
                        '#9c0505'
                    ]
                },
                pieces: [
                    {min: 1000},
                    {min: 500, max: 999},
                    {min: 100, max: 499},
                    {min: 10, max: 99},
                    {min: 1, max: 9},
                ],
                padding: 5,
                // "inverse": false,
                // "splitNumber": 5,
                orient: vm.province ? 'horizontal' : 'vertical',
                showLabel:  !vm.province,
                text: ['高', '低'],
                itemWidth: 10,
                itemHeight: 10,
                textStyle: {
                    fontSize: 10
                }
                // "borderWidth": 0
            },
            tooltip: {
                show: true,
                trigger: 'item',
                formatter: '{a} <br/>{b}: {c}'
            },
            series: [{
                left: 'center',
                // top: '15%',
                // bottom: '10%',
                type: 'map',
                name: '确诊人数',
                silent: false,
                label: {
                    show: true,
                    position: 'inside',
                    // margin: 8,
                    fontSize: 6
                },
                mapType: vm.province ? vm.provinceNameZh : 'china',
                data,
                zoom: 1.2,
                roam: false,
                showLegendSymbol: false,
                emphasis: {},
                rippleEffect: {
                    show: true,
                    brushType: 'stroke',
                    scale: 2.5,
                    period: 4
                }
            }]

        };
        myChart.setOption(options);
    }
</script>

</html>
